<%- include("../shared/_header.ejs") %>

<div class="container mt-5">
  <% if (loading) { %>
  <div id="loading-message" class="alert alert-info" role="alert">
    Loading...
  </div>
  <% } %>

  <h1 class="mb-4">Welcome to Cards Online</h1>
</div>

<main role="main">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Play cool games like Cards Against Humanity
        </h2>
        <p class="lead">
          Looking for a fun way to spend your time? Look no further! Dive into
          the world of laughter and entertainment with games like Cards Against
          Humanity. Whether you're hanging out with friends or family, these
          games are guaranteed to bring smiles and laughter to your gatherings.
        </p>
      </div>
      <div
        class="card ca-card mt-3 rounded mb-3 m-auto border-2 border-dark"
        style="width: 20rem; min-height: 28rem"
      >
        <div class="card-body">
          <p class="card-text">
            Refusing to pay federal or state income taxes.
          </p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Have fun with friends</h2>
        <p class="lead">
          Enjoy the thrill of real-time competition. Whether you're into board
          games, card games, or video games, playing live with friends adds an
          extra layer of excitement and camaraderie to the experience. You can
          strategize together, laugh at each other's victories and defeats, and
          create lasting memories.
        </p>
      </div>
      <div
        class="card ca-card mt-3 rounded mb-3 m-auto bg-dark text-white"
        style="width: 20rem; min-height: 28rem; border: 2px solid white"
      >
        <div class="card-body">
          <p class="card-text">
            Grandma's famous cookies are renowned for their secret ingredient:
            __________ and __________.
          </p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Play online anytime, anywhere, with anyone.
        </h2>
        <p class="lead">
          Enjoy the hilariously irreverent fun of Cards Against Humanity
          wherever you are, whenever you want, and with anyone you choose by
          playing online. Whether you're at home, on the go, or connecting with
          friends from afar, the game offers endless entertainment and
          laughter-filled moments.
        </p>
      </div>
      <div
        class="card ca-card mt-3 rounded mb-3 m-auto border-2 border-dark"
        style="width: 20rem; min-height: 28rem"
      >
        <div class="card-body">
          <p class="card-text">Pulling Out.</p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("../shared/_footer.ejs") %>
