<%- include("../shared/_header.ejs") %>

<div class="container mt-5">
  <% if (loading) { %>
  <div id="loading-message" class="alert alert-info" role="alert">
    Loading...
  </div>
  <% } %>

  <h1 class="mb-4">Welcome to Cards Online</h1>
</div>

<main role="main">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Play cool games like Cards Against Humanity
        </h2>
        <p class="lead">
          Looking for a fun way to spend your time? Look no further! Dive into
          the world of laughter and entertainment with games like Cards Against
          Humanity. Whether you're hanging out with friends or family, these
          games are guaranteed to bring smiles and laughter to your gatherings.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://cdn.sanity.io/images/vc07edlh/production/378671dbd5448946b68dd0a4abf60b5dac6162ff-1400x1260.png?auto=format&q=75&w=800"
          alt="Cards Against Humanity"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Discover New Board Games</h2>
        <p class="lead">
          Expand your gaming horizons with our collection of the latest and most
          exciting board games. From strategy games to cooperative adventures,
          there's something for everyone to enjoy. Explore our curated selection
          and embark on unforgettable gaming experiences.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://via.placeholder.com/500"
          alt="Discover New Board Games"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Join Gaming Events and Tournaments</h2>
        <p class="lead">
          Participate in thrilling gaming events and tournaments hosted by Cards
          Online. Test your skills, challenge other players, and compete for
          exciting prizes. Whether you're a casual player or a seasoned gamer,
          there's always something exciting happening in our gaming community.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://via.placeholder.com/500"
          alt="Gaming Events and Tournaments"
        />
      </div>
    </div>


  </div>
</main>

<%- include("../shared/_footer.ejs") %>
