<%- include("../shared/_header.ejs") %>

<div class="container mt-5 justify-content-center flex">
  <h1 class="text-center">
    <%= formType === "create" ? "Register User" : "Update Profile" %>
  </h1>
  <hr class="my-5" />
  <%- include("./_form") %>
  <div class="text-center pt-2">
    <a class="text-center" href="/users">Go back to users</a>

  </div>
</div>

<%- include("../shared/_footer.ejs") %>
